.nav{
    cursor:pointer;
    position:sticky;
    top:0px;
    color:white;
    background-color: black;
    display: flex;
    justify-content: end;
    width: 100%;
}
.nav div{
    margin:10px;
}
@media only screen and (max-width: 500px){
    .nav{
        justify-content:center;
    }
}